/mainApp/bin/data/*
!/mainApp/bin/data/shadersGL2

**/credentials.h
*.pem
fp-info-cache
*.kicad_prl
*.numbers
hardware/**/*.zip
*.gbrjob
*.gbr
*.drl
*.csv
*.ses
*.dsn
*.rules
*.bin
*.wav

**/*.app
**/*.xcodeproj
**/*.xcconfig

**/*.mp4
**/*.mov
**/*.tiff
**/*.png
**/*.ttf

*/addons.make
*/config.make
*.mp4
/bin/exampleSimple
*.DS_Store
*.plist
camera/Makefile
checklist.txt

**/*.min.js
