*
*/
!.gitignore

!mainApp
!espnowSender
!images
!joniskLed
*/credentials.h
!ledBeam_v1
!audioIn/src
!toBeams/src
!ESPNOW_codes.txt
!README.md
!configLights.scd
!joniskMain.scd
!midiIn.scd
!ledBeam_v3

**/*.app
**/*.xcodeproj
**/*.xcconfig

**/*.mp4
**/*.mov
**/*.tiff
**/*.png
**/*.ttf

*/addons.make
*/config.make
*.mp4
/bin/exampleSimple
*.DS_Store
